# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repositories\MSc\ANS Assesment\Scoket Programming Assesment\Scoket Programming Assesment\Socket-Programming-Decrement-Letter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
